@import 'bulma/bulma';

@import './assets/styles/_styles';

* {
  box-sizing: border-box;
  outline: none;

}

body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  line-height: 1.168;
}

.container {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 1200px; /* 2 */
}

button {
  &:hover {
    cursor: pointer;
  }
}

.home_text {
  margin: 20px auto;
  text-align: center
}

//NAVBAR
.navbar {
  height: 5rem;
  background: #4c7aa0;

  .navbar-menu {
    align-items: center;
    padding:10px;
    a {
      color: white;
      font-size: 1.150rem;
      margin: 0 15px;
      &.navbar-item  {
        &:hover {
          background: none;
        }

        &.is-active {
          background: transparent;
          font-size: 1.3rem;
          &:after {
            content: "";
            position: absolute;
            bottom:0;
            left:0;
            height: 2px;
            width:100%;
            background: white;
          }
        }
      }
    }
  }
}



.footer {
  background: #4c7aa0;
  margin-top: 100px;
  color: white;
  text-align: center;
}



.flex_row {
  flex-direction: row;
}

.flex_row_reverse{
  flex-direction: row-reverse;
}
