// .globe {
//   height: 4rem;
//   width: 4rem;
// }

.icon-plane {
  transform: rotate(-34deg);
  margin-left: 6px!important;
}

// HOME PAGE MAP CONTAINER
.map_container {
  text-align: center;
  padding:  50px 0;
  display: flex;
  align-items: top;
  justify-content: space-between;


  .world_map {
    width: 50%;
    display: inline-block;
    vertical-align: top;

    &.countries {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 720px) {
    flex-direction: column;
    flex-wrap: wrap-reverse;

    .world_map {
      margin: 15px 0;
      width:100%;
    }
  }

  .country_tab_content {
    padding: 30px;
    > div {
      display: flex;
      align-items: center;
    }
  }
}

//Flag Component
.flag {
  width:30px;
  height:30px;
  display: inline-block;
  margin-right: 10px;
}
